<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <br>
    <p><b>js file created: </b><%= btime %></p>
    <p><b>js file changed: </b><%= mtime %></p>
    <p><b>ejs file created: </b><%= btime2 %></p>
    <p><b>ejs file changed: </b><%= mtime2 %></p>
    <br>


  </body>
</html>
